@*@model IEnumerable<Test.Business.Entities.Event>*@
@model IEnumerable<Test.Application.DTOs.EventDTO>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (TempData["ConcurrencyError"] != null)
    {
        <div class="alert alert-warning">
            @TempData["ConcurrencyError"];
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.Id">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                @if (!item.IsLocked)
                {
                    <td>
                        <button class="btn btn-sm btn-outline-success customButton" disabled>Free</button>
                    </td>
                }
                else
                {
                    <td>
                        <button class="btn btn-sm btn-outline-danger customButton" disabled>Locked</button>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script src="~/js/signalr/indexSignalr.js"></script>
 }
